#Replace these values with your credentials and key pair name
#Consult the variables.tf files in phase_1 and phase_2 for details
export TF_VAR_access_key='AKIAIHDHCWTGJEHQPKXA'
export TF_VAR_secret_key='uiWyflaPLhr0OIc6EMr6b+mueonL4Jy1u0Jj9NZ5'
export TF_VAR_key_name='BOWEN-US-WEST-2'
export TF_VAR_rds_db_password='delphixdbpassword'
export TF_VAR_delphixdb_password='delphixdb'
export TF_VAR_delphix_admin_password='mySuper3Password'

####BEGIN Optional variables
##If you need to change the default values, uncomment the below
#export TF_VAR_aws_region='us-west-2'
#export TF_VAR_cidr_block='10.0.0.0/16'
#export TF_VAR_server_network='10.0.1.0/24'
#export TF_VAR_database_networks='["10.0.2.0/24","10.0.3.0/24"]'
#export TF_VAR_database_azs='["us-west-2a","us-west-2b"]'
#export TF_VAR_owner='Adam Bowen'
#export TF_VAR_expiration='2018-02-27'
#export TF_VAR_project='Delphix RDS Test'
####END Optional variables

##The TF_VAR_delphix_engine_system_key value can only be obtained after completing Phase 1
##You can get the below value by connecting via ssh to the Delphix engine as the delphix_admin user and 
##entering in the below command
##system get sshPublicKey
##ex. ip-10-0-1-106>system get sshPublicKey
##ssh-rsa<...>root@ip-10-0-1-30
##
#export TF_VAR_delphix_engine_system_key='ssh-rsa<...>root@ip-10-0-1-106'
